@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #1f1f1f;
   color: #f1f1f1;
   font-family: 'Poppins', sans-serif;
   text-align: center;
}

h1{
   padding: 2.5rem 1rem;
   font-size: 3.5rem;
}
h2{
   padding: 1rem;
   font-size: 2.5rem;
}
p{ font-size: 2.2rem; }
img{ width: 100px; }

.choices > div{
   display: inline-block;
   margin: 0 1rem;
   transition: all 0.4s ease-in-out;
}
.choices > div:hover{
   transform: scale(115%);
   cursor: pointer;
}